<h2 class="page-header">Account Login</h2>
<form action='/users/login' method='POST'>
	<div class="form-group required">
		<label class="control-label">UserName</label>
		<input type="text" name="username" class="form-control" placeholder="UserName"/>
	</div>
	<div class="form-group required">
		<label class="control-label" >Password</label>
		<input type="password" name="password" class="form-control" placeholder="Password"/>
	</div>
	<button type="submit" class="btn btn-primary  active">Login</button>
</form>