<h2 class="page-header">Register</h2>
<form action='/users/registration' method="POST">
    <div class="form-group required">
		<label class="control-label">Name</label>
		<input type="text" name="name" class="form-control" placeholder="Name"/>
	</div>
	<div class="form-group required">
		<label class="control-label">UserName</label>
		<input type="text" name="username" class="form-control" placeholder="UserName"/>
	</div>
	<div class="form-group required">
		<label class="control-label">Email</label>
		<input type="email" name="email" class="form-control" placeholder="example@demo.com"/>
	</div>
	<div class="form-group required">
		<label class="control-label">Password</label>
		<input type="password" name="password" class="form-control" placeholder="Password"/>
	</div>
	<div class="form-group required">
		<label class="control-label">Confirm Password</label>
		<input type="password" name="confirmpsw" class="form-control" placeholder=" Confirm Password"/>
	</div>
	<button type="submit" class="btn btn-primary active">Register</button>
</form>